:root {
    /* ------------------ PRIMARY (BROWN) ------------------ */
    --rz-primary: #F8AF12;
    --rz-primary-light: #FAD075;
    --rz-primary-lighter: #FEF2D8;
    --rz-on-primary-lighter: #7F5804;
    --rz-primary-lightest: #FFFCF7;
    --rz-primary-dark: #B27B06;
    --rz-primary-darker: #775204;
    /* ------------------ DANGER (RED) ------------------ */
    --rz-danger: #bc2020;
    --rz-danger-light: #dc3030;
    --rz-on-danger-light: white;
    --rz-danger-lighter: #f04040;
    --rz-on-danger-lighter: white;
    --rz-danger-dark: #a21010;
    --rz-danger-darker: #880000;
    /* ------------------ SUCCESS (GREEN) ------------------ */
    --rz-success: #26cc00;
    --rz-success-light: #7be382;
    --rz-success-lighter: #d2f2d4;
    --rz-on-success-lighter: white;
    --rz-success-dark: #22b600;
    --rz-success-darker: #009c1a;
    /* ------------------ SECONDARY (GRAY) ------------------ */
    --rz-secondary: #404041;
    --rz-secondary-light: #AEAEAE;
    --rz-secondary-lighter: #D9D9D9;
    --rz-secondary-dark: #303031;
    --rz-secondary-darker: #202020;
    /* ------------------ WARNING (YELLOW) ------------------ */
    --rz-warning: #FFFB12;
    --rz-on-warning: black;
    --rz-warning-light: #FFFD85;
    --rz-on-warning-light: black;
    --rz-warning-lighter: #FFFEAD;
    --rz-on-warning-lighter: black;
    --rz-warning-dark: #B8B500;
    --rz-warning-darker: #8F8C00;
    /* ------------------ SERIES ------------------ */
    --rz-series-1: var(--rz-primary);
    --rz-series-2: var(--rz-success);
    --rz-series-3: var(--rz-danger);
    /* ------------------ CIPHER ------------------ */
    --cipher-header-background-color: var(--rz-primary-lightest);
    --cipher-header-hover-background-color: var(--rz-primary-lightest);
    --cipher-header-color: var(--rz-primary-darker);
    /* ------------------ GENERAL ------------------ */

    --rz-border-radius: 5px;
    --rz-body-font-size: 1rem;
    --rz-header-background-color: var(--cipher-header-background-color);
    --rz-scrollbar-color: var(--rz-primary-dark);
    --rz-input-disabled-background-color: transparent;
}

* {
    font-family: var(--rz-text-font-family);
}

/* ------------------ SELF MADE DESGINS ------------------ */

.cipher_body {
    background-color: var(--rz-primary-lighter);
    right: 0px;
    width: 100%;
    min-height: 100%;
    height:;
    margin: 0;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom:;
}

.cipher_topnavbar{
    padding-bottom: 20px;
}

.cipher_searchbtn_icon {
    border: 1px solid var(--rz-primary-darker); 
    padding-left:10px; 
    border-top-right-radius:0; 
    border-bottom-right-radius:0;
    text-align: right;
    height:53px;
}

.cipher_icon {
    font-size: xx-large;
}

.cipher_component_card_header {
    display: flex;
    justify-content: right;
}

.cipher_component_card_content {
    padding: 5px 0;
    justify-content: right;
    column-gap: 100px;
    row-gap: 10px;
}
    .cipher_component_card_content.footer {
        padding: 0;
    }

    .cipher_component_card_content.resource_card {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

        .cipher_component_card_content.resource_card.centered {
            align-items:center;
        }

.cipher-jsoncheck {
    width: 100%;
    direction: ltr;
    height: 300px;
}

.cipher-chip-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cipher-chip {
    background-color: var(--rz-chip-background-color);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.cipher-chip-close {
    background-color: var(--rz-chip-background-color);
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
    font-size: 12px;
}

.cipher_datatable {
    text-align: right;
    background-color: transparent;
}

.cipher_datagrid_empty_text {
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--rz-secondary-light);
    direction: rtl;
    border-radius: 10px;
    text-wrap: nowrap;
    font-size: larger;
    line-height: unset;
    margin: 0;
}

.cipher_datagrid_group_header {
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--rz-secondary-lighter);
    direction: rtl;
    border-radius: 10px;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: larger;
    line-height: unset;
    margin: 0;
}

.cipher_paragraph_header {
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--rz-primary-light);
    direction: rtl;
    border-radius: 10px;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: larger;
    line-height: unset;
    margin: 0;
}

.cipher_loading_text {
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--rz-primary-light);
    direction: rtl;
    border-radius: 10px;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: xx-large;
    line-height: unset;
    margin: 0;
    color: var(--rz-primary-darker);
}

.cipher_card_header {
    padding-left: 20px;
    direction: rtl;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: larger;
}

.cipher_restriction {
    font-size: large;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--rz-danger);
}

.cipher-comingsoon {
    background-color: #AC6E35;
    border-radius: 5px;
    padding: 0px;
    width: 100%;
}

.cipher-comingsoon-image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

    .cipher-comingsoon-image-container img {
        filter: none;
    }

    .cipher-comingsoon-image-container:hover img {
        filter: blur(5px); /* Adjust the blur amount as needed */
        transition: filter 0.3s ease;
    }

.cipher-comingsoon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    display: none;
    color: var(--rz-primary-darker)
}

.cipher-comingsoon-image-container:hover .cipher-comingsoon-overlay {
    display: block;
}

.CipherButton {
    border: unset;
    z-index: 1;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    margin-bottom:5px;
}

    .CipherButton.Disabled {
    }

    .CipherButton::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0; /*start the new-background width at 0, and enlarge it*/
        z-index: -1;
        transition: all 250ms
    }

    .CipherButton:hover::before {
        width: 100%;
    }

    .CipherButton.PrimaryDarker::before {
        background-color: var(--rz-primary-dark);
    }

    .CipherButton.PrimaryDark::before {
        background-color: var(--rz-primary);
    }

    .CipherButton.PrimaryDefault::before {
        background-color: var(--rz-primary-dark);
    }

    .CipherButton.PrimaryLight::before {
        background-color: var(--rz-primary-lighter);
    }

    .CipherButton.PrimaryLighter::before {
        background-color: var(--rz-primary-light);
    }

    .CipherButton.SuccessDarker::before {
        background-color: var(--rz-success-dark);
    }

    .CipherButton.SuccessDark::before {
        background-color: var(--rz-success);
    }

    .CipherButton.SuccessDefault::before {
        background-color: var(--rz-success-light);
    }

    .CipherButton.SuccessLight::before {
        background-color: var(--rz-success-lighter);
    }

    .CipherButton.SuccessLighter::before {
        background-color: var(--rz-success-light);
    }

    .CipherButton.DangerDarker::before {
        background-color: var(--rz-danger-dark);
    }

    .CipherButton.DangerDark::before {
        background-color: var(--rz-danger);
    }

    .CipherButton.DangerDefault::before {
        background-color: var(--rz-danger-light);
    }

    .CipherButton.DangerLight::before {
        background-color: var(--rz-danger-lighter);
    }

    .CipherButton.DangerLighter::before {
        background-color: var(--rz-danger-light);
    }

    .CipherButton.SecondaryDarker::before {
        background-color: var(--rz-secondary-dark);
    }

    .CipherButton.SecondaryDark::before {
        background-color: var(--rz-secondary);
    }

    .CipherButton.SecondaryDefault::before {
        background-color: var(--rz-secondary-light);
    }

    .CipherButton.SecondaryLight::before {
        background-color: var(--rz-secondary-lighter);
    }

    .CipherButton.WarningDarker::before {
        background-color: var(--rz-warning-dark);
    }

    .CipherButton.WarningDark::before {
        background-color: var(--rz-warning);
    }

    .CipherButton.WarningDefault::before {
        background-color: var(--rz-warning-light);
    }

    .CipherButton.WarningLight::before {
        background-color: var(--rz-warning);
    }

/* ------------------ PROGRESS BAR ------------------ */

.rz-progressbar-circular-background {
    stroke: var(--rz-primary-lightest);
    stroke-width: 4px;
}

.rz-progressbar-indeterminate.rz-progressbar-primary .rz-progressbar-circular-value {
    stroke: var(--rz-primary-darker);
    stroke-width: 4px;
}

/* ------------------ DATA FILTER ------------------ */

.rz-datafilter .rz-datafilter-group {
    display: block;
}

.rz-datafilter .rz-datafilter-item {
    padding: var(--rz-datafilter-item-padding-y) calc(var(--rz-datafilter-item-padding-left) + var(--rz-datafilter-item-indentation)) var(--rz-datafilter-item-padding-y) 0;
}

    .rz-datafilter .rz-datafilter-item:after {
        right: calc(var(--rz-datafilter-item-padding-left) / 2);
        left: 0;
        border-right: 2px solid var(--rz-primary-dark);
        border-left: none;
        border-bottom: 2px solid var(--rz-primary-dark);
        border-bottom-right-radius: 5px;
    }

    .rz-datafilter .rz-datafilter-item:before {
        right: calc(var(--rz-datafilter-item-padding-left) / 2);
        left: 0;
        border-right: 2px solid var(--rz-primary-dark);
        border-left: none;
    }

.rz-datafilter .rz-selectbutton,
.rz-datafilter .rz-datafilter-bar .rz-splitbutton {
    direction: ltr;
}

.rz-datafilter .rz-datafilter-bar {
    padding: 0 calc(var(--rz-datafilter-item-padding-left) + var(--rz-datafilter-item-indentation)) 0 0;
}

    .rz-datafilter .rz-datafilter-bar:after {
        border-bottom-left-radius: 0;
    }

.rz-splitbutton .rz-button.rz-splitbutton-menubutton, .rz-splitbutton .rz-button:not(.rz-splitbutton-menubutton) {
    background-color: var(--rz-primary-light);
}

.rz-splitbutton-menu {
    border: none;
    margin-top: 5px;
    transform: translateX(-85px);
}

/* ------------------ GRID ------------------ */

:root {
    --rz-grid-foot-background-color: var(--rz-primary-lighter);
    --rz-grid-foot-background-color: var(--rz-primary-dark);
    --rz-grid-header-cell-border: 0;
    --rz-grid-header-filter-icon-hover-color: var(--rz-primary-dark);
    --rz-grid-filter-color: var(--rz-primary-lighter);
}

.rz-grid-filter,
.rz-grid-filter-buttons {
    background-color: var(--rz-primary-lighter);
}

    .rz-grid-filter
    .rz-grid-filter-label {
        text-align: right;
    }

    .rz-grid-filter .rz-dropdown,
    .rz-grid-filter .rz-spinner,
    .rz-grid-filter .rz-textbox,
    .rz-grid-filter .rz-grid-filter-label {
        direction: rtl;
    }

/* ------------------ BUTTON ------------------ */

:root {
    --rz-button-disabled-opacity: 1;
}

.rz-button-text {
    padding-right: 5px;
    text-wrap: wrap;
}

.rz-button.rz-light.rz-variant-flat {
    background-color: var(--rz-primary-light);
}

.rz-state-disabled.rz-paginator-element {
    visibility: hidden;
}

.rz-selectbutton .rz-button.rz-button-md {
    color: lightgray;
    border: 0;
    border-top: hidden;
    border-bottom: hidden;
    border-right: 0.1px solid lightgray;
    border-left: 0.1px solid lightgray;
}

    .rz-selectbutton .rz-button.rz-button-md:first-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 0;
    }

    .rz-selectbutton .rz-button.rz-button-md:last-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 0;
    }

    .rz-selectbutton .rz-button.rz-button-md.rz-state-active {
        border-top: hidden;
        border-bottom: hidden;
        border-right: 0.1px solid var(--rz-primary-light);
        border-left: 0.1px solid var(--rz-primary-light)
    }


.rz-selectbutton .rz-button.rz-button-sm {
    border: 1px solid var(--rz-primary);
}

    .rz-selectbutton .rz-button.rz-button-sm.rz-state-active {
        background-color: var(--rz-primary);
        color: var(--rz-selectbar-selected-color);
        border: 1px solid var(--rz-primary);
    }

/* ------------------ CARD ------------------ */

.rz-card {
    border-radius: calc(2*var(--rz-border-radius));
    background-color: white;
}

    .rz-card h1, .rz-card h2, .rz-card h3, .rz-card h4, .rz-card h5, .rz-card h6 {
        margin-bottom: 0rem;
    }

/* ------------------ DATA TABLE ------------------ */

.rz-data-grid {
    border-radius: calc(2*var(--rz-border-radius));
    border-width: 0;
    direction: rtl;
}

.rz-data-grid-data {
    box-shadow: none;
}

.rz-selectable {
    direction: ltr;
}

    .rz-selectable tbody tr.rz-data-row.rz-state-highlight > td {
        background-color: var(--rz-primary-lighter);
    }

    .rz-selectable tbody tr.rz-data-row.rz-state-highlight .rz-cell-data {
        color: var(--rz-primary);
        font-weight: 700;
    }

.rz-grid-table {
    direction: rtl;
}

    .rz-grid-table thead th {
        background-color: var(--rz-primary-light);
    }

        .rz-datatable-thead th > div:not(.rz-cell-filter),
        .rz-grid-table thead th > div:not(.rz-cell-filter) {
            background-color: var(--rz-series-5);
        }

        .rz-datatable-thead th .rz-column-title,
        .rz-grid-table thead th .rz-column-title {
            padding: 0;
            text-align: right;
            justify-content: right;
            color: var(--rz-primary-darker);
            font-size: medium;
            padding-right: 0.5rem;
        }

        .rz-datatable-thead th .rz-column-title-content,
        .rz-grid-table thead th .rz-column-title-content {
            text-wrap: wrap;
        }

    .rz-grid-table td .rz-cell-data {
        text-align: right;
        text-wrap: balance;
    }

    .rz-datatable-data td:not(:last-child),
    .rz-grid-table td:not(:last-child) {
        border-right: 0;
    }

    .rz-grid-table tfoot td:first-child:not(:last-child) {
        /* controling first-right item within a footer*/
        border-bottom-right-radius: 10px
    }

    .rz-grid-table tfoot td:last-child:last-child {
        /* controling last-left item within a footer*/
        border-bottom-left-radius: 10px
    }

    .rz-datatable-tfoot td:not(:last-child),
    .rz-grid-table tfoot td:not(:last-child) {
        border-right: 0;
        background-color: var(--rz-primary-dark);
    }

    .rz-datatable-data tr td:last-child:not(.rz-composite-cell),
    .rz-grid-table tr td:last-child:not(.rz-composite-cell) {
        border-right: none;
    }

.rz-grid-table-striped tbody > tr:not(.rz-expanded-row-content):nth-child(even) > td {
    background-color: var(--rz-primary-lightest);
}

.rz-datatable-data td:last-child:not(.rz-composite-cell) .rz-cell-data {
    text-align: right;
}

.rz-datatable .rzi-chevron-circle-right,
.rz-datatable .rzi-chevron-circle-down {
    vertical-align: middle;
    color: white;
    font-size: x-large;
    /*border: 3px solid var(--rz-primary-darker);*/
    border-radius: 5px;
    /*padding: 15px;*/
    display: flex;
    justify-content: end;
    align-items: center;
    /*background-color: var(--rz-primary-darker);*/
}

    .rz-datatable .rzi-chevron-circle-right:hover,
    .rz-datatable .rzi-chevron-circle-down:hover {
        color: var(--rz-primary);
        cursor: pointer;
    }

    .rz-datatable .rzi-chevron-circle-right:before {
        content: "keyboard_double_arrow_down";
        color: white;
        border: 3px solid var(--rz-primary-darker);
        border-radius: 5px;
        background-color: var(--rz-primary-darker);
        padding: 3.5px;
        margin: 1px;
    }

    .rz-datatable .rzi-chevron-circle-down:before {
        content: "keyboard_double_arrow_up";
        color: var(--rz-primary-darker);
        border: 3px solid var(--rz-primary-lighter);
        border-radius: 5px;
        background-color: var(--rz-primary-lighter);
        padding: 3.5px;
        margin: 1px;
    }

.rz-datatable .rz-col-icon {
    background-color: var(--rz-primary-light);
    width: 37px;
}

/* ------------------ GROUP HEADER ------------------ */

.rz-group-header {
    background-color: var(--rz-series-5);
}

.rz-group-header-drop {
    color: var(--rz-primary-darker)
}

.rz-group-header-item {
    background-color: var(--rz-primary);
    border-color: var(--rz-primary-darker);
}

/* ------------------ CELL FILTER ------------------ */

.rz-cell-filter {
    background-color: var(--rz-primary-lighter);
}

/* ------------------ COLUMN ------------------ */

.rz-sortable-column .rzi-sort {
    color: var(--rz-grid-filter-color);
    padding-right: 5px;
}

.rz-column-drag:after {
    color: var(--rz-primary-darker);
}

/* ------------------ VALUE AXIS ------------------ */

.rz-value-axis .rz-tick-text {
    text-anchor: start;
}

/* ------------------ CHECK BOX ------------------ */

.rz-chkbox-box .rzi {
    color: var(--rz-primary-darker)
}

/* ------------------ TEXT ------------------ */

.rz-text-h5 {
    line-height: normal;
    margin-bottom: 0px;
}

.rz-text-body2 {
    font-weight: 600;
    margin-bottom: 0;
}

.rz-text-overline {
    margin-bottom: 0;
}

/* ------------------ PAGINATOR ------------------ */

:root {
    --rz-paginator-next-button-background-color: var(--rz-primary-lighter);
    --rz-paginator-back-button-background-color: var(--rz-primary-lighter);
    --rz-paginator-numeric-button-background-color: var(--rz-primary-lighter);
    --rz-paginator-numeric-button-hover-background-color: var(--rz-primary-lighter);
    --rz-paginator-numeric-button-selected-background-color: var(--rz-primary-light);
    --rz-paginator-back-button-color: black;
}

.rz-paginator {
    direction: rtl;
}

    .rz-paginator .rzi-caret-left:before {
        /*DUE TO RTL DIRECTIONALITY*/
        content: "navigate_next";
    }

    .rz-paginator .rzi-caret-right:before {
        /*DUE TO RTL DIRECTIONALITY*/
        content: "navigate_before";
    }

    .rz-paginator .rzi-step-backward:before {
        /*DUE TO RTL DIRECTIONALITY*/
        content: "last_page";
    }

    .rz-paginator .rzi-step-forward:before {
        /*DUE TO RTL DIRECTIONALITY*/
        content: "first_page";
    }

/* ------------------ ACCORDION ------------------ */

:root {
    --rz-accordion-item-background-color: var(--rz-primary-lightest);
}

.rz-accordion-header a[role=tab] {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--rz-primary-lightest);
    gap: 5px;
}

.rz-accordion-toggle-icon.rzi-chevron-right:before {
    /* CLOSED ICON */
    content: "arrow_circle_down";
}

.rz-accordion-toggle-icon.rzi-chevron-down:before {
    /* OPENED ICON */
    content: "arrow_circle_up";
}

.rz-accordion-toggle-icon.rzi-chevron-right:hover, .rz-accordion-toggle-icon.rzi-chevron-down:hover {
    color: var(--rz-primary)
}

.rz-accordion-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}

/* ------------------ TABVIEW ------------------ */

:root {
    --rz-tabs-tab-hover-color: var(--rz-primary-lightest);
    --rz-tabs-tab-hover-background-color: transparent;
}

.rz-tabview-nav .rz-tabview-selected {
    background-color: transparent;
}

    .rz-tabview-nav .rz-tabview-selected a,
    .rz-tabview-nav .rz-tabview-selected a:not([href]):not([class]) {
        color: black;
        background-color: var(--rz-primary-dark);
        font-weight: bold;
    }

.rz-tabview-nav .rz-state-focused:not(.rz-tabview-selected):not(.rz-state-disabled) a,
.rz-tabview-nav .rz-state-focused:not(.rz-tabview-selected):not(.rz-state-disabled) a:not([href]):not([class]) {
    color: black;
}

.rz-tabview-nav li {
    border: 0px;
    background-color: transparent;
}

    .rz-tabview-nav li a {
        background-color: var(--rz-primary-light);
        font-size: 1rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
        border: 0;
    }

        .rz-tabview-nav li a:not([href]):not([class]) {
            background-color: var(--rz-primary-light);
            font-size: 1rem;
        }

.rz-tabview-top > .rz-tabview-panels {
    border-radius: calc(2*var(--rz-border-radius)) 0 calc(2*var(--rz-border-radius)) calc(2*var(--rz-border-radius));
    padding: 10px;
}

.rz-tabview-panel {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
}

/* ------------------ DIALOG ------------------ */

:root {
    --rz-dialog-close-color: black;
    --rz-dialog-background-color: var(--rz-primary-lightest);
}

.rz-dialog-content {
    direction: rtl;
}

.rz-dialog-titlebar {
    direction: rtl;
    background-color: var(--rz-primary);
}

.rz-dialog-titlebar-close {
    float: left;
}

/* ------------------ PANEL MENU ------------------ */

:root {
    --rz-panel-menu-padding: 0px;
    --rz-panel-menu-font-size: 20;
    --rz-panel-menu-color: var(--cipher-header-color);
    --rz-panel-menu-background-color: var(--cipher-header-background-color);
    --rz-panel-menu-hover-background-color: var(--cipher-header-hover-background-color);
    --rz-panel-menu-icon-color: var(--cipher-header-color);
    --rz-panel-menu-icon-margin: 0 5px;
    --rz-panel-menu-item-line-height: 0;
    --rz-panel-menu-item-padding: 10px;
    --rz-panel-menu-item-border: hidden;
    --rz-panel-menu-item-background-color: var(--cipher-header-background-color);
    --rz-panel-menu-item-active-background-color: var(--rz-primary-lighter);
    --rz-panel-menu-item-active-indicator: var(--cipher-header-hover-background-color);
    --rz-panel-menu-item-2nd-level-color: var(--cipher-header-color);
    --rz-panel-menu-item-2rd-level-background-color: var(--cipher-header-background-color);
    --rz-panel-menu-item-2nd-level-font-size: 0.9rem;
}

.rz-panel-menu .rz-navigation-menu .rz-navigation-item-wrapper {
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .rz-panel-menu .rz-navigation-menu .rz-navigation-item-wrapper:hover,
    .rz-panel-menu .rz-navigation-menu .rz-navigation-item-active,
    .rz-panel-menu .rz-navigation-menu .rz-navigation-item-wrapper-active {
        background-color: var(--cipher-header-hover-background-color);
    }

.rz-panel-menu a.rz-navigation-item-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: var(--rz-primary-darker);
}

    .rz-panel-menu a.rz-navigation-item-link:after {
        content: " ";
        width: 0%;
        height: 100%;
        background: var(--rz-primary-light);
        position: absolute;
        transition: all 0.4s ease-in-out;
        right: 0;
        border-radius: 5px;
    }

    .rz-panel-menu a.rz-navigation-item-link:hover::after {
        right: 0;
        width: 100%;
    }

    .rz-panel-menu a.rz-navigation-item-link span {
        color: var(--rz-primary-darker);
        z-index: 20;
    }

.rz-panel-menu .rz-navigation-item-icon {
    z-index: 30;
}

.rz-menuitem,
.rz-autocomplete-list-item,
.rz-multiselect-item,
.rz-autocomplete-items li,
.rz-dropdown-items li,
.rz-multiselect-items li,
.rz-dropdown-item {
    text-align: right;
    cursor: pointer;
    direction: rtl;
}

.rz-listbox-filter-container,
.rz-dropdown-filter-container,
.rz-multiselect-filter-container {
    direction: rtl;
}

    .rz-listbox-filter-container .rz-inputtext,
    .rz-dropdown-filter-container .rz-inputtext,
    .rz-multiselect-filter-container .rz-inputtext {
        padding-right: 0.5rem;
    }

.rz-clear .rz-multiselect-label-container, .rz-clear .rz-dropdown-label {
    padding-right: 0;
}

.rz-dropdown-clear-icon {
    right: auto;
    left: calc(var(--rz-dropdown-trigger-icon-width) + 0.5rem);
}

.rz-dropdown-chips .rz-chip {
    padding: 0 0.5rem 0 0;
}

.rz-dropdown-chips .rz-dropdown-chips-wrapper {
    margin-right: 0;
    margin-left: 3rem;
}

.rz-multiselect-header {
    direction: rtl;
}

/* ------------------ MENU ------------------ */

.rz-menuitem:hover {
    color: var(--rz-primary);
}

.rz-menuitem .rz-menuitem-link {
    direction: rtl;
}

.rz-menu-list {
    background-color: var(--rz-primary-lighter);
    border: 1px solid var(--rz-primary-light);
    border-radius: var(--rz-border-radius);
}

/* ------------------ SIDEBAR ------------------ */

:root {
    --rz-sidebar-toggle-margin: 0;
    --rz-sidebar-toggle-color: var(--cipher-header-color);
    --rz-sidebar-toggle-background-color: var(--cipher-header-background-color);
    --rz-sidebar-toggle-hover-color: var(--cipher-header-color);
    --rz-sidebar-toggle-hover-background-color: var(--cipher-header-hover-background-color);
    --rz-sidebar-width: 250px;
    --rz-sidebar-background-color: var(--cipher-header-background-color);
    --rz-sidebar-color: var(--cipher-header-color);
    --rz-sidebar-border-right: hidden;
}

.rz-sidebar-toggle .rzi {
    font-size: 2rem;
}

    .rz-sidebar-toggle .rzi:hover {
        color: var(--rz-primary);
    }

/* ------------------ SCHEDULER ------------------ */

:root {
    --rz-scheduler-toolbar-background-color: var(--rz-primary-lighter);
    --rz-scheduler-toolbar-title-color: var(--cipher-header-color);
    --rz-scheduler-header-background-color: var(--rz-primary-lightest);
    --rz-scheduler-header-color: var(--rz-primary-dark);
    --rz-scheduler-header-font-size: 0.9rem;
    --rz-scheduler-view-button-color: var(--rz-primary-darker);
    --rz-scheduler-view-button-border: hidden;
    --rz-scheduler-view-selected-background-color: var(--rz-primary-light);
    --rz-scheduler-prev-next-button-color: var(--rz-primary-darker);
    --rz-scheduler-prev-next-button-background-color: var(--rz-primary-light);
    --rz-scheduler-prev-next-button-font-size: 15px;
    --rz-scheduler-prev-next-button-hover-background-color: var(--rz-primary);
    --rz-scheduler-today-button-font-size: 1rem;
    --rz-scheduler-event-list-button-color: var(--rz-primary-dark);
    --rz-scheduler-other-month-background-color: var(--rz-primary-lighter);
}

.rz-scheduler {
    border-width: 0;
}

.rz-scheduler-nav-prev-next .rz-button.rz-today {
    font-weight: 700;
}

.rz-scheduler-nav-prev-next :hover,
.rz-scheduler-nav-views .rz-button.rz-primary:hover {
    color: var(--cipher-scheduler-hover-color);
    background-color: var(--rz-primary);
}

.rz-scheduler-nav-views .rz-button.rz-primary:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: var(--rz-scheduler-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: var(--rz-scheduler-border-radius);
}

.rz-scheduler-nav-views .rz-button.rz-primary:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: var(--rz-scheduler-border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--rz-scheduler-border-radius);
}

.rz-planner-view .rz-view-header .rz-slot-header {
    visibility: hidden;
}

.rz-view-header .rz-slot-header {
    font-weight: 600;
    border-right: 1px solid var(--rz-scheduler-border-color);
    border-left: 1px solid var(--rz-scheduler-border-color);
}

.rz-day-view .rz-view-header {
    padding-right: 0px;
}

.rz-month-view .rz-slot {
    border-bottom: 1px solid var(--rz-scheduler-border-color);
}

    .rz-month-view .rz-slot:first-child {
        border-right: 1px solid var(--rz-scheduler-border-color);
        border-left: 1px solid var(--rz-scheduler-border-color);
    }

.rz-month .rz-slot:nth-child(2) {
    border-left: 1px solid var(--rz-scheduler-border-color);
}

.rz-week-view .rz-view-header {
    padding-right: 0;
    padding-left: 16px;
}

.rz-slot-hours {
    border-left: 1px solid var(--rz-scheduler-border-color);
}

.rz-event-content {
    font-size: 1rem;
    overflow-wrap: anywhere;
    margin: 5px;
}

/* ------------------ LAYOUT ------------------ */

:root {
    --rz-layout-body-padding: 0rem;
}

.rz-layout {
    background-color: var(--rz-primary-light);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar';
    min-height: 100vh;
    float: right;
    width: 100%;
    height: 100%;
}

.rz-body {
    background-color: var(--rz-primary-lighter);
}

/* ------------------ STEPS ------------------ */

:root {
    --rz-steps-button-color: var(--rz-primary-dark);
}

.rz-steps ul {
    display: flex;
}

.rz-steps .rz-state-highlight .rz-steps-title {
    color: var(--rz-primary-dark);
    opacity: 100%;
    font-weight: 700;
    font-size: large;
}

.rz-steps .rz-state-highlight .rz-steps-number {
    background: var(--rz-primary-dark);
    opacity: 100%;
    color: white;
}

.rz-steps .rz-steps-item:not(:last-child) {
    flex: auto;
    display: flex;
    align-items: center;
}

    .rz-steps .rz-steps-item:not(:last-child):after {
        display: block;
        content: "";
        flex: auto;
        height: 1px;
        margin-inline-end: 16px;
        background-color: var(--rz-primary-dark);
        opacity: 50%;
    }

.rz-steps-number {
    background-color: var(--rz-primary-dark);
    color: white;
    opacity: 50%;
}

.rz-steps-title {
    color: var(--rz-primary-dark);
    opacity: 50%;
}

.rz-steps-next .rzi, .rz-steps-prev .rzi {
    font-size: var(--rz-icon-size);
    /*flip the direction of the icon*/
    transform: rotate(180deg);
}

/* ------------------ DROPDOWN ------------------ */

.rz-dropdown {
    min-height: 52px;
    justify-content: center;
    padding: 0.5rem;
}

rz-multiselect-trigger,
.rz-dropdown-trigger {
    position: absolute;
    display: flex;
    align-items: center;
    right: unset;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 5px;
}

.rz-multiselect-label-container,
.rz-dropdown-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0 0 3rem;
    margin: 0;
    text-align: right;
}

.rz-dropdown-items-wrapper,
.rz-multiselect-items-wrapper {
    direction: rtl;
}

/* ------------------ LOOKUP ------------------ */

.rz-lookup-search {
    display: flex;
    margin-bottom: 1rem;
    direction: rtl;
}

    .rz-lookup-search input {
        flex: auto;
        margin-right: 0rem;
        margin-left: 0.5rem;
        direction: rtl;
        padding: 0.5rem;
    }

/* ------------------ AUTOCOMPLETE ------------------ */

.rz-autocomplete {
    background-color: white;
    border: 1px solid var(--rz-secondary-light);
}

    .rz-autocomplete:focus-within:not(.rz-state-disabled) {
        box-shadow: none;
        border: 1px solid var(--rz-primary-dark);
        outline: var(--rz-input-focus-outline);
        outline-offset: var(--rz-input-focus-outline-offset);
    }

/* ------------------ NUMERIC ------------------ */

.rz-spinner input[type=number],
.rz-spinner input[type=text] {
    text-align: right;
}

/* ------------------ LEGEND ------------------ */

.rz-legend-items {
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    background-color: white;
    border-radius: calc(2*var(--rz-border-radius));
    border: 1px solid var(--rz-primary-darker);
}

/* ------------------ FORM FIELD ------------------ */

:root {
    --cipher-shadow: none;
}

.rz-colorpicker,
.rz-spinner,
.rz-multiselect,
.mask,
.rz-textarea,
.rz-textbox {
    padding: 0.5rem;
    min-height: 52px;
}

.rz-autocomplete-input {
    min-height: 52px
}

div:not(.rz-form-field-content) > .rz-colorpicker.rz-state-disabled,
div:not(.rz-form-field-content) > .rz-spinner.rz-state-disabled,
.rz-calendar.rz-state-disabled div:not(.rz-form-field-content) > .rz-inputtext,
div:not(.rz-form-field-content) > .rz-listbox.rz-state-disabled,
div:not(.rz-form-field-content) > .rz-autocomplete-input:disabled,
div:not(.rz-form-field-content) > .rz-state-disabled.rz-autocomplete,
div:not(.rz-form-field-content) > .rz-state-disabled.rz-multiselect,
div:not(.rz-form-field-content) > .rz-state-disabled.rz-dropdown,
div:not(.rz-form-field-content) > .rz-colorpicker:disabled,
.rz-lookup-search div:not(.rz-form-field-content) > input:disabled,
div:not(.rz-form-field-content) > .rz-spinner:disabled,
.rz-calendar div:not(.rz-form-field-content) > .rz-inputtext:disabled, div:not(.rz-form-field-content) > .rz-multiselect:disabled,
div:not(.rz-form-field-content) > .rz-dropdown:disabled, div:not(.rz-form-field-content) > .mask:disabled,
div:not(.rz-form-field-content) > .rz-textarea:disabled, div:not(.rz-form-field-content) > .rz-textbox:disabled {
    background-color: white;
    opacity: 1;
}

    div:not(.rz-form-field-content) > .rz-spinner.rz-state-disabled .rz-inputtext {
        color: black;
        opacity: 1;
    }

.rz-form-field-content > *,
.rz-form-field-content > .rz-autocomplete,
.rz-form-field-content input,
.rz-form-field-content .rz-inputtext {
    background-color: white;
    border-radius: var(--rz-border-radius);
    display: flex;
    align-items: center;
}

.rz-form-field:not(.rz-floating-label) .rz-form-field-label,
.rz-textbox:focus ~ .rz-form-field-label,
.rz-textarea:focus ~ .rz-form-field-label,
.rz-spinner:focus-within ~ .rz-form-field-label,
.rz-autocomplete:focus-within ~ .rz-form-field-label,
.rz-textbox:not(:placeholder-shown) ~ .rz-form-field-label,
:not(.rz-state-empty) ~ .rz-form-field-label,
.rz-variant-filled .rz-textarea:focus ~ .rz-form-field-label,
.rz-variant-flat .rz-textarea:focus ~ .rz-form-field-label,
.rz-variant-filled :not(.rz-state-empty) ~ .rz-form-field-label,
.rz-variant-flat :not(.rz-state-empty) ~ .rz-form-field-label,
.rz-radio-button-list-vertical ~ .rz-form-field-label,
.rz-radio-button-list-horizontal ~ .rz-form-field-label,
.rz-checkbox-list-vertical ~ .rz-form-field-label,
.rz-checkbox-list-horizontal ~ .rz-form-field-label,
.rz-chkbox ~ .rz-form-field-label,
.rz-state-empty:has(.rz-placeholder) ~ .rz-form-field-label {
    direction: rtl;
    right: 2px; /*label position*/
    background-size: auto;
    width: fit-content;
    max-width: 12rem;
    font-size: 14px;
}

.rz-form-field:hover .rz-form-field-content {
    box-shadow: none;
}

.rz-form-field.rz-variant-filled .rz-form-field-content,
.rz-form-field.rz-variant-flat .rz-form-field-content {
    border-radius: var(--rz-border-radius)
}

.rz-form-field.rz-variant-outlined .rz-form-field-start,
.rz-form-field.rz-variant-filled .rz-form-field-start,
.rz-form-field.rz-variant-flat .rz-form-field-start {
    padding-right: 10px;
}

.rz-form-field.rz-variant-flat:not(.rz-state-disabled).rz-state-focused .rz-form-field-content {
    border: var(--rz-input-focus-border);
    box-shadow: var(--cipher-shadow);
}

.rz-form-field-label {
    color: var(--rz-secondary-light);
    transform: translate(1rem, -50%);
}

    .rz-form-field-label:last-child {
        right: 1.2rem;
    }

.rz-form-field.rz-state-focused .rz-form-field-content, .rz-spinner:focus-within:not(.rz-state-disabled), .rz-autocomplete:focus-within:not(.rz-state-disabled), .rz-colorpicker:not(:disabled):not(.rz-state-disabled):focus, .rz-lookup-search input:not(:disabled):not(.rz-state-disabled):focus, .rz-spinner:not(:disabled):not(.rz-state-disabled):focus, .rz-calendar .rz-inputtext:not(:disabled):not(.rz-state-disabled):focus, .rz-multiselect:not(:disabled):not(.rz-state-disabled):focus, .rz-dropdown:not(:disabled):not(.rz-state-disabled):focus, .mask:not(:disabled):not(.rz-state-disabled):focus, .rz-textarea:not(:disabled):not(.rz-state-disabled):focus, .rz-textbox:not(:disabled):not(.rz-state-disabled):focus {
    box-shadow: var(--cipher-shadow);
}

/* ------------------ CALANDER / DATEPICKER ------------------ */

.rz-calendar .rz-inputtext {
    padding: 0.5rem;
    padding-right: 0.7rem;
    padding-top: 1rem;
    min-height: 52px;
}

.rz-datepicker-trigger {
    right: auto;
    left: 0.625rem;
}

    .rz-datepicker-trigger .rzi-calendar:before {
        content: "edit_calendar";
        color: var(--rz-primary-dark);
        padding: 2px;
        border: 1px solid var(--rz-primary-dark);
        border-radius: calc(2*var(--rz-border-radius));
    }

    .rz-datepicker-trigger .rzi-time:before {
        content: "update";
        color: var(--rz-primary-dark);
        padding: 2px;
        border: 1px solid var(--rz-primary-dark);
        border-radius: calc(2*var(--rz-border-radius));
    }

.rz-datepicker-header {
    background-color: var(--rz-primary-light);
    min-height: 62px;
}

.rz-datepicker-calendar th {
    background-color: var(--rz-primary-lighter);
    color: var(--rz-primary-darker);
    font-size: medium;
}

.rz-datepicker-title {
    direction: rtl;
}

/* ------------------ LOOKUP PANEL ------------------ */

.rz-lookup-panel {
    border-radius: calc(2*var(--rz-border-radius));
}

/* ------------------ VALIDATION ------------------ */

.rz-messages-error {
    display: flex;
    font-size: small;
    padding-right: 0rem;
}

.valid.modified:not([type=checkbox]) {
    /*outline: 1px solid var(--rz-success);*/
    outline: none;
    border-radius: var(--rz-border-radius);
}

.invalid {
    /*outline: 1px solid var(--rz-danger);*/
    outline: none;
    border-radius: var(--rz-border-radius);
}

/* ------------------ SWITCH ------------------ */

:root {
    --rz-switch-background-color: var(--rz-danger-lighter);
    --rz-switch-checked-background-color: var(--rz-success);
}
