:root {
    /* ------------------ PRIMARY (BROWN) ------------------ */
    --rz-primary: #F68C24;
    --rz-primary-light: #fcde97;
    --rz-primary-lighter: #fdefcf;
    --rz-primary-lightest: #FFFCF7;
    --rz-primary-dark: #bf8406;
    --rz-primary-darker: #7F5804;
    --rz-on-primary-lighter: #7F5804;
    /* ------------------ DANGER (RED) ------------------ */
    --rz-danger: #EC5F21;
    --rz-danger-light: #fbcca1;
    --rz-danger-lighter: #fde5d0;
    --rz-danger-dark: #be5f09;
    --rz-danger-darker: #7f3f06;
    /* ------------------ SUCCESS (GREEN) ------------------ */
    --rz-success: forestgreen;
    /*--rz-success: #018840;*/
    --rz-success-light: #d1e9b2;
    --rz-success-lighter: #e8f4d9;
    --rz-success-dark: #6a982c;
    --rz-success-darker: #47651e;
    /* ------------------ SECONDARY (GRAY) ------------------ */
    --rz-secondary: #404041;
    --rz-secondary-light: #AEAEAE;
    --rz-secondary-lighter: #D9D9D9;
    --rz-secondary-dark: #303031;
    --rz-secondary-darker: #202020;
    /* ------------------ SERIES ------------------ */
    --rz-series-1: var(--rz-primary);
    --rz-series-2: var(--rz-success);
    --rz-series-3: var(--rz-danger);
    /* ------------------ CIPHER ------------------ */
    --cipher-header-background-color: var(--rz-primary-lightest);
    --cipher-header-hover-background-color: var(--rz-primary-lighter);
    --cipher-header-color: var(--rz-primary-darker);
    /* ------------------ GENERAL ------------------ */

    --rz-body-font-size: 1rem;
    --rz-header-background-color: var(--cipher-header-background-color);
    --cipher-border-radius: 10px;
    --cipher-border-radius-half: 5px;
    --rz-grid-foot-background-color: var(--rz-primary-lighter);
    --rz-grid-header-cell-border: 0;
    --rz-scrollbar-color: var(--rz-primary-dark);
}

    /* ------------------ BUTTON ------------------ */

    : root {
    --rz-button-disabled-opacity: 1;
}

.rz-button {
    border-radius: var(--cipher-border-radius-half);
}

.rz-button-text {
    padding-right: 5px;
}

.rz-button.rz-light.rz-variant-flat {
    background-color: var(--rz-primary-light);
}

.rz-state-disabled.rz-paginator-element, .rz-button.rz-state-disabled {
     opacity: 1; 
}

/* ------------------ SELECT BUTTON ------------------ */

.rz-selectbutton .rz-button.rz-button-md:first-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
}

.rz-selectbutton .rz-button.rz-button-md:last-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
}

.rz-selectbutton .rz-button.rz-button-md {
    color: lightgray;
    border: 0
}

    .rz-selectbutton .rz-button.rz-button-md.rz-state-active {
        border-top: hidden;
        border-bottom: hidden;
        border-right: 0.1px solid var(--rz-primary-light);
        border-left: 0.1px solid var(--rz-primary-light)
    }

.rz-selectbutton .rz-button.rz-button-md {
    border-top: hidden;
    border-bottom: hidden;
    border-right: 0.1px solid lightgray;
    border-left: 0.1px solid lightgray;
}

/* ------------------ CARD ------------------ */

.rz-card {
    border-radius: var(--cipher-border-radius);
    background-color: white;
}

.rz-card h1, .rz-card h2, .rz-card h3, .rz-card h4, .rz-card h5, .rz-card h6 {
    margin-bottom: 0rem;
}

/* ------------------ DATA GRID ------------------ */

.rz-data-grid {
    border-radius: var(--cipher-border-radius);
    border-width: 0;
}

/* ------------------ DATA TABLE ------------------ */

:root {
    --rz-grid-foot-background-color: var(--rz-primary-light);
}

.rz-datatable-tfoot td:not(:last-child), .rz-grid-table tfoot td:not(:last-child) {
    border-right: 0;
}

    .rz-datatable-data td:not(:last-child), .rz-grid-table td:not(:last-child) {
    border-right: 0;
}

.rz-datatable-data tr td:last-child:not(.rz-composite-cell), .rz-grid-table tr td:last-child:not(.rz-composite-cell) {
    border-right: none;
    font-weight: bolder;
}

.rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
    text-align: center;
}


.rz-datatable-thead th > div:not(.rz-cell-filter), .rz-grid-table thead th > div:not(.rz-cell-filter) {
    background-color: var(--rz-series-5);
}

.rz-datatable-thead th .rz-column-title, .rz-grid-table thead th .rz-column-title {
    padding: 0;
    text-align: center;
    justify-content: center;
    color: var(--rz-primary-darker);
    font-size: medium;
}

.rz-grid-table-striped tbody > tr:not(.rz-expanded-row-content):nth-child(even) > td {
    background-color: var(--rz-primary-lightest);
}

    .rz-grid-table-striped tbody > tr:not(.rz-expanded-row-content):nth-child(even) > td .rz-cell-data {
        /*color: var(--rz-primary);*/
    }

/* ------------------ GROUP HEADER ------------------ */

.rz-group-header {
    background-color: var(--rz-series-5);
}

.rz-group-header-drop {
    color: var(--rz-primary-darker)
}

.rz-group-header-item {
    background-color: var(--rz-primary);
    border-color: var(--rz-primary-darker);
}

/* ------------------ CELL FILTER ------------------ */

.rz-cell-filter {
    background-color: var(--rz-primary-lighter)
}

/* ------------------ COLUMN ------------------ */
.rz-sortable-column .rzi-sort {
    color: var(--rz-primary-darker);
    padding-right: 5px;
}

.rz-column-drag:after {
    color: var(--rz-primary-darker);
}

/* ------------------ VALUE AXIS ------------------ */
.rz-value-axis .rz-tick-text {
    text-anchor: start;
}

/* ------------------ CHECK BOX ------------------ */
.rz-chkbox-box .rzi {
    color: var(--rz-primary-darker)
}

/* ------------------ TEXT ------------------ */

.rz-text-h5 {
    line-height: normal;
    margin-bottom: 0px;
    /* justify-content: center; */
}

.rz-text-body2 {
    font-weight: 600;
    margin-bottom: 0;
}

.rz-text-overline{
    margin-bottom: 0;
}

/* ------------------ PAGINATOR ------------------ */
.rz-paginator .rzi-caret-left:before {
    /*DUE TO RTL DIRECTIONALITY*/
    content: "navigate_next";
}

.rz-paginator .rzi-caret-right:before {
    /*DUE TO RTL DIRECTIONALITY*/
    content: "navigate_before";
}

.rz-paginator .rzi-step-backward:before {
    /*DUE TO RTL DIRECTIONALITY*/
    content: "last_page";
}

.rz-paginator .rzi-step-forward:before {
    /*DUE TO RTL DIRECTIONALITY*/
    content: "first_page";
}

:root {
    --rz-paginator-numeric-button-selected-color --rz-paginator-back-button-background-color: var(--rz-primary-light);
    --rz-paginator-next-button-background-color: var(--rz-primary-lighter);
    --rz-paginator-back-button-background-color: var(--rz-primary-lighter);
    --rz-paginator-numeric-button-background-color: var(--rz-primary-lighter);
    --rz-paginator-numeric-button-hover-background-color: var(--rz-primary-lighter);
    --rz-paginator-numeric-button-selected-background-color: var(--rz-primary-light);
    --rz-paginator-back-button-color: black;
}

/* ------------------ ACCORDION ------------------ */

.rz-accordion-header a[role=tab] {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--rz-primary-lightest);
    gap:5px;
}

.rz-accordion-toggle-icon.rzi-chevron-right:before {
    /* CLOSED ICON */
    content: "arrow_circle_down";
}

.rz-accordion-toggle-icon.rzi-chevron-down:before {
    /* OPENED ICON */
    content: "arrow_circle_up";
}


.rz-accordion-toggle-icon.rzi-chevron-right:hover {
    color: var(--rz-primary)
}

.rz-accordion-toggle-icon.rzi-chevron-down:hover {
    color: var(--rz-primary)
}

:root {
    --rz-accordion-item-background-color: var(--rz-primary-lightest);
}

/* ------------------ TABVIEW ------------------ */

.rz-tabview-nav li {
    border: 0px;
}

.rz-tabview-nav .rz-tabview-selected a, .rz-tabview-nav .rz-tabview-selected a:not([href]):not([class]) {
    color: black;
    background-color: var(--rz-primary-dark);
    font-weight: bold;
}

.rz-tabview-nav li a, .rz-tabview-nav li a:not([href]):not([class]) {
    background-color: var(--rz-primary-light);
    font-size: 1rem;
}

.rz-tabview-nav .rz-state-focused:not(.rz-tabview-selected):not(.rz-state-disabled) a, .rz-tabview-nav .rz-state-focused:not(.rz-tabview-selected):not(.rz-state-disabled) a:not([href]):not([class]) {
    color:black;
}


.rz-tabview-nav li a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border: 0;
}

.rz-tabview-nav li {
    background-color: transparent;
}

.rz-tabview-nav .rz-tabview-selected {
    background-color: transparent;
}

.rz-tabview-nav li:hover:not(.rz-tabview-selected):not(.rz-state-disabled) {
    background-color: transparent;
}

/* ------------------ DIALOG ------------------ */
.rz-dialog-content {
    direction: rtl;
}

.rz-dialog-titlebar {
    direction: rtl;
    background-color: var(--rz-primary-dark);
}

.rz-dialog-titlebar-close {
    float: left;
}

:root {
    --rz-dialog-close-color: black;
    --rz-dialog-background-color: var(--rz-primary-lightest);
}

/* ------------------ PANEL MENU ------------------ */

.rz-panel-menu .rz-navigation-menu .rz-navigation-item-wrapper {
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.rz-panel-menu .rz-navigation-menu .rz-navigation-item-wrapper:hover {
    background-color: var(--cipher-header-hover-background-color);
}

.rz-panel-menu .rz-navigation-menu .rz-navigation-item-active,
.rz-panel-menu .rz-navigation-menu .rz-navigation-item-wrapper-active {
    background-color: var(--cipher-header-hover-background-color);
}

:root {
    --rz-panel-menu-padding: 0px;
    --rz-panel-menu-font-size: 20;
    --rz-panel-menu-color: var(--cipher-header-color);
    --rz-panel-menu-background-color: var(--cipher-header-background-color);
    --rz-panel-menu-hover-background-color: var(--cipher-header-hover-background-color);
    --rz-panel-menu-icon-color: var(--cipher-header-color);
    --rz-panel-menu-icon-margin: 0 5px;
    --rz-panel-menu-item-line-height: 0;
    --rz-panel-menu-item-padding: 10px;
    --rz-panel-menu-item-border: hidden;
    --rz-panel-menu-item-background-color: var(--cipher-header-background-color);
    --rz-panel-menu-item-active-background-color: var(--cipher-header-hover-background-color);
    --rz-panel-menu-item-active-indicator: var(--cipher-header-hover-background-color);
    --rz-panel-menu-item-2nd-level-color: var(--cipher-header-color);
    --rz-panel-menu-item-2rd-level-background-color: var(--cipher-header-background-color);
    --rz-panel-menu-item-2nd-level-font-size: 0.9rem;
}


/* ------------------ SIDEBAR ------------------ */

:root {
    --rz-sidebar-toggle-margin: 0;
    --rz-sidebar-toggle-color: var(--cipher-header-color);
    --rz-sidebar-toggle-background-color: var(--cipher-header-background-color);
    --rz-sidebar-toggle-hover-color: var(--cipher-header-color);
    --rz-sidebar-toggle-hover-background-color: var(--cipher-header-hover-background-color);
    --rz-sidebar-width: 250px;
    --rz-sidebar-background-color: var(--cipher-header-background-color);
    --rz-sidebar-color: var(--cipher-header-color);
    --rz-sidebar-border-right: hidden;
}

/* ------------------ SCHEDULER ------------------ */

:root {
    --rz-scheduler-toolbar-background-color: var(--rz-primary-lighter);
    --rz-scheduler-toolbar-title-color: var(--cipher-header-color);
    --rz-scheduler-header-background-color: var(--rz-primary-lightest);
    --rz-scheduler-header-color: var(--rz-primary-dark);
    --rz-scheduler-view-button-color: var(--rz-primary-darker);
    --rz-scheduler-view-button-border: hidden;
    --rz-scheduler-view-selected-background-color: var(--rz-primary-light);
    --rz-scheduler-prev-next-button-color: var(--rz-primary-darker);
    --rz-scheduler-prev-next-button-background-color: var(--rz-primary-light);
    --rz-scheduler-prev-next-button-font-size: 15px;
    --rz-scheduler-prev-next-button-hover-background-color: var(--rz-primary);
    --rz-scheduler-today-button-font-size: 1rem;
    --rz-scheduler-event-list-button-color: var(--rz-primary-dark);

    --cipher-scheduler-hover-color: var(--rz-primary)
}

.rz-scheduler {
    border-radius: 10px;
    border-width: 0;
}

.rz-scheduler-nav-prev-next .rz-button.rz-today {
    font-weight: 700;
}

    .rz-scheduler-nav-prev-next .rz-button.rz-today:hover {
        color: var(--cipher-scheduler-hover-color)
    }

.rz-scheduler-nav-prev-next .rz-button.rz-next:hover {
    color: var(--cipher-scheduler-hover-color)
}

.rz-scheduler-nav-prev-next .rz-button.rz-prev:hover {
    color: var(--cipher-scheduler-hover-color)
}

.rz-planner-view .rz-view-header .rz-slot-header {
    visibility: hidden;
}

.rz-scheduler-nav-views .rz-button.rz-primary:hover {
    color: var(--cipher-scheduler-hover-color)
}

/* ------------------ LAYOUT ------------------ */

:root {
    --rz-layout-body-padding: 0rem;
}

.rz-layout {
    background-color: var(--rz-primary-light);

    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;

    grid-template-columns: 1fr auto;
    grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar';
    min-height: 100vh;
    float: right;
    width: 100%;
    height: 100%;
}

.rz-body {
    background-color: var(--rz-primary-light);
}


/* ------------------ STEPS ------------------ */

:root {
    --rz-steps-button-color: var(--rz-primary-dark);
}

.rz-steps-number {
    background-color: var(--rz-primary-lightest);
}

.rz-steps-next .rzi, .rz-steps-prev .rzi {
    font-size: var(--rz-icon-size);
    /*flip the direction of the icon*/
    transform: rotate(180deg);
}

/* ------------------ DROPDOWN ------------------ */
rz-multiselect-trigger, .rz-dropdown-trigger {
    position: absolute;
    display: flex;
    align-items: center;
    right: unset;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 5px;
}

.rz-multiselect-label-container, .rz-dropdown-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0 0 1.25rem;
    margin: 0;
}

/* ------------------ LOOKUP ------------------ */
.rz-lookup-search {
    display: flex;
    margin-bottom: 1rem;
    direction: rtl;
}

.rz-lookup-search input {
    flex: auto;
    margin-right: 0rem;
    margin-left: 0.5rem;
    direction: rtl;
}

/* ------------------ AUTOCOMPLETE ------------------ */
 .rz-autocomplete-items li {
    text-align: right;
}

/* ------------------ NUMERIC ------------------ */
.rz-spinner input[type=number], .rz-spinner input[type=text] {
    text-align: center;
}